body {
  font-family: 'Open Sans';
  background-color: dimgray;
}
.jumbotron {
  background-color: dimgray;
}
.App {
  text-align: center;
}
/* .userName {
  color: brown;
} */
.sitename {
  color: brown;
  font-family: cursive;
  font-weight: bolder;
  padding-left: 5rem;
}
#iconSize {
  font-size: 2rem;
}
.links {
  list-style-type: none;
  display: flex;
  color: aliceblue;
}
.links li {
  margin: 0 10px;
}
div,
.card {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Animatio for fading */
/* .item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;

  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;

  transition: opacity 1000ms ease-in;
}
.item-exit-active {
  opacity: 0.01;

  transition: opacity 1000ms ease-in;
} */

/* Register */
form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: rgba(166, 172, 167, 0.295);
  z-index: -1;
  border-radius: 10px;
}

/*############################################*/
.cust-btn {
  /* background-color: #35a55b; */
  background-color: #101110;
  border-width: 2px;
  border-color: #101110;
  color: #fff;
}
.cust-btn:hover {
  border-color: #101110;
  background-color: #fff;
  color: #101110;
  border-radius: 20px;
  transform-style: 2s;
}
.view-btn:hover,
.delete-btn:hover {
  border-radius: 20px;
  transform-style: 2s;
}

.embed-responsive .card-img-top {
  object-fit: cover;
}

/*############################################*/
/* Navigation links */
/* @media all and (min-width: 992px) { */
.navLink:hover {
  text-decoration: none;
  /* color: brown !important; */
  /* font-weight: 400; */
  text-transform: uppercase;
}
.navLink,
.navLink:after,
.navLink:before {
  transition: all 0.5s;
}
/* } */
/*############################################*/
/* The radio */
.radio {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  padding-right: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.checkround {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-color: #0a0a0a;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.radio .checkround:after {
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #0a0a0a;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
