html,
body {
  font-family: 'Montserrat';
  height: 100%;
  margin: 0;
  background-color: #839b97;
}
.searchH1,
.savedRecipesH1 {
  font-family: 'Times New Roman', Times, serif;
}
.navbar,
.footer {
  background-color: #34626c;
}
.col-xl-5 {
  background-color: #657774;
  border-radius: 30px;
  margin-bottom: 7em;
}
.border-2 {
  border-width: 2px !important;
}
.jumbotron {
  background-color: #657774;
  border-radius: 30px;
  margin-bottom: 7em;
}
.App {
  text-align: center;
}
/* .userName {
  color: brown;
} */
.sitename {
  /* color: brown; */
  font-family: cursive;
  font-weight: bolder;
}
#iconSize {
  font-size: 2rem;
}

div,
.card {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Animatio for fading */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;

  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;

  transition: opacity 1000ms ease-in;
}
.item-exit-active {
  opacity: 0.01;

  transition: opacity 1000ms ease-in;
}

img {
  max-width: 100%;
  max-height: 100%;
}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

/* Register */
form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: rgba(166, 172, 167, 0.295);
  z-index: -1;
  border-radius: 20px;
}

/*############################################*/
.cust-btn {
  background-color: #0ec58e;
  border-width: 3px;
  color: #fff;
}
.cust-btn:hover {
  /* border-color: #3da83d; */
  background-color: #c3cad3;
  color: #101110;

  border-radius: 20px;
  transform-style: 2s;
}
.view-btn:hover,
.delete-btn:hover {
  border-radius: 20px;
  transform-style: 2s;
}

.embed-responsive .card-img-top {
  object-fit: cover;
}

/*############################################*/
/* Navigation links */
/* @media all and (min-width: 992px) { */
.navLink:hover {
  text-decoration: none;
  text-transform: uppercase;
}
.navLink,
.navLink:after,
.navLink:before {
  transition: all 0.2s;
}

.links {
  color: white;
}
.navLink,
.pipe {
  font-size: small;
}
/* } */
/*############################################*/
/* The radio */
.radio {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  padding-right: 20px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.checkround {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  /* border-color: #0a0a0a; */
  border-color: #2d808b;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.radio .checkround:after {
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /* background: #0a0a0a; */
  background: #2d808b;
}
@media only screen and (max-width: 600px) {
  .radio {
    transform: scale(0.8);
    display: block;
  }
}
@media only screen and (max-width: 780px) {
  .radio {
    display: block;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.anyClass {
  overflow-y: scroll;
}

.textColor {
  color: #c3cad3;
}
.linkTo:hover {
  color: crimson;
  scale: 1.5;
}

/* Health Label badges for mobile */
@media only screen and (max-width: 600px) {
  .healthLabelRow {
    display: flex;
    flex-direction: column;
  }
  .healthLabelCol {
    align-self: center;
  }
}
.fa {
  font-size: 30px;
  color: red;
  position: absolute;
  right: 20px;
  top: 24px;
  background-color: white;
  width: 35px !important;
  height: 35px;
  border-radius: 50%;
  padding-left: 3px;
  padding-top: 3px;
}
.showPass {
  font-size: small;
}
.fas {
  color: #fff;
}
