body {
  font-family: 'Open Sans';
}
.App {
  text-align: center;
}
.sitename {
  color: brown;
  font-family: cursive;
  font-weight: bolder;
  padding-left: 5rem;
}
#iconSize {
  font-size: 2rem;
}
.links {
  list-style-type: none;
  display: flex;
  color: aliceblue;
}
.links li {
  margin: 0 10px;
}
div,
.card {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Animatio for fading */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  /* transform: translateX(1000px); */
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
  /* transform: translateX(0); */
  transition: opacity 1000ms ease-in;
}
.item-exit-active {
  opacity: 0.01;
  /* transform: translateX(1000px); */
  transition: opacity 1000ms ease-in;
}

/* Register */
form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: rgba(30, 185, 43, 0.295);
  z-index: -1;
  border-radius: 10px;
}
